<!------------------------------------->
<!-- PHONE DESIGN -------- DASHBOARD -->
<!-- CHECKED 100% --------------------->
<!------------------------------------->
<div class="phone">
  <div class="row">
    <div class="col-6">
      <app-dashboard-button-module
        [nameModule]="'Clientes'"
        [urlModule]="'/customers'"
        [iconModule]="'./assets/images/modules/dashboard/customers.png'"
      ></app-dashboard-button-module>
    </div>

    <div class="col-6">
      <app-dashboard-button-module
        [nameModule]="'Productos'"
        [urlModule]="'/products'"
        [iconModule]="'./assets/images/modules/dashboard/products.png'"
      ></app-dashboard-button-module>
    </div>
  </div>
</div>





<!------------------------------------->
<!-- DESKTOP DESIGN ------ DASHBOARD -->
<!------------------------------------->
<div class="desktop">
  <div class="row">
    <div class="col-xl-2">
      <app-dashboard-button-module
        [nameModule]="'Clientes'"
        [urlModule]="'/customers'"
        [iconModule]="'./assets/images/modules/dashboard/customers.png'"
      ></app-dashboard-button-module>
    </div>
    <div class="col-xl-2">
      <app-dashboard-button-module
        [nameModule]="'Productos'"
        [urlModule]="'/products'"
        [iconModule]="'./assets/images/modules/dashboard/products.png'"
      ></app-dashboard-button-module>
    </div>
  </div>
</div>
