<app-navbar></app-navbar>

<!--------------->
<!--------------->
<!-- LANDSCAPE -->
<div class="landscape">
  <div class="container pt-5">
    <div class="row">
      <div class="col"></div>

      <div class="col">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goSales()">
          <img class="img-fluid" src="./assets/images/dashboard/sales.png" alt="Ventas">
          <h5 class="mt-2">Ventas</h5>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goFinance()">
          <img class="img-fluid" src="./assets/images/dashboard/finance.png" alt="Finanzas">
          <h5 class="mt-2">Finanzas</h5>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goInventory()">
          <img class="img-fluid" src="./assets/images/dashboard/inventory.png" alt="Inventario">
          <h5 class="mt-2">Inventario</h5>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goReports()">
          <img class="img-fluid" src="./assets/images/dashboard/reports.png" alt="Reportes">
          <h5 class="mt-2">Reportes</h5>
        </div>
      </div>

      <div class="col"></div>
    </div>
  </div>
</div>

<!-------------->
<!-------------->
<!-- PORTRAIT -->
<div class="portrait">
  <div class="container pt-5">

    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goSales()">
          <img class="img-fluid" src="./assets/images/dashboard/sales.png" alt="Ventas">
          <h5 class="mt-2">Ventas</h5>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goFinance()">
          <img class="img-fluid" src="./assets/images/dashboard/finance.png" alt="Finanzas">
          <h5 class="mt-2">Finanzas</h5>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-6 d-flex justify-content-center">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goInventory()">
          <img class="img-fluid" src="./assets/images/dashboard/inventory.png" alt="Inventario">
          <h5 class="mt-2">Inventario</h5>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="card shadow-lg border-0 p-3 bg-body rounded d-flex align-items-center w-75" (click)="goReports()">
          <img class="img-fluid" src="./assets/images/dashboard/reports.png" alt="Reportes">
          <h5 class="mt-2">Reportes</h5>
        </div>
      </div>

    </div>
  </div>
</div>
