<!-- LOGGED -->
<ng-container *ngIf="authService.user$ | async as firebaseUser; else noLogged">

  <!-- LIST CUSTOMERS - TEMPLATE -->
  <app-list-customers
    *ngIf="template === 'listCustomers'"
    [listCustomers]="listCustomers"
    (customerSelected)="getCustomerSelected($event)"
    (outTemplate)="getTemplate($event)"
  ></app-list-customers>

  <!-- NEW CUSTOMER FORM - TEMPLATE -->
  <app-new-customer
    *ngIf="template === 'newCustomer'"
    [firebaseUser]="firebaseUser"
    (outTemplate)="getTemplate($event)"
  ></app-new-customer>

  <!-- VIEW CUSTOMER - TEMPLATE -->
  <app-view-customer
    *ngIf="template === 'viewCustomer'"
    [customer]="customerSelected"
    (outTemplate)="getTemplate($event)"
  ></app-view-customer>

  <!-- EDIT CUSTOMER FORM - TEMPLATE -->
  <app-edit-customer
    *ngIf="template === 'editCustomer'"
    [firebaseUser]="firebaseUser"
    [customer]="customerSelected"
    (outTemplate)="getTemplate($event)"
  ></app-edit-customer>



</ng-container>


<!-- NO LOGGED -->
<ng-template #noLogged></ng-template>
