<div class="card">
  <div class="card-header">
    REGISTRAR VENTA DEL DÍA
  </div>
  <div class="card-body">
    <form>

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="txtGrossIncome" placeholder="Ingresos brutos">
        <label for="txtGrossIncome">Ingresos brutos</label>
      </div>

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="txtOuts" placeholder="Egresos">
        <label for="txtOuts">Egresos</label>
      </div>

      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Detalle sus egresos" id="txtDetailsOuts"></textarea>
        <label for="txtDetailsOuts">Detalle sus egresos</label>
      </div>

      <div class="form-floating mb-4">
        <input type="number" class="form-control" id="txtNetIncome" placeholder="Ingresos netos">
        <label for="txtNetIncome">Ingresos netos</label>
      </div>

      <div class="mb-3">
        <label for="txtInputFile" class="form-label">Adjuntar cierre de caja</label>
        <input type="file" class="form-control" id="txtInputFile">
      </div>

      <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </form>
  </div>
</div>
