<!--------------->
<!--------------->
<!-- LANDSCAPE -->
<div class="landscape">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center justify-content-center vh-100 bg-dark">
        <img class="img-fluid w-75" src="./assets/images/logos/endgame_login.png" alt="">
      </div>

      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="w-50 text-center">
          <h1>Sistema ERP</h1>
          <br>
          <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="txtUsername" placeholder="Nombre de usuario">
              <label for="txtUsername">Nombre de usuario</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="txtPassword" placeholder="Contraseña">
              <label for="txtPassword">Contraseña</label>
            </div>
            <br>
            <button type="submit" class="btn btn-dark w-100">
              INICIAR
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<!-------------->
<!-------------->
<!-- PORTRAIT -->
<div class="portrait">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 bg-dark text-center vh-100 pt-5">

        <div class="mt-5">
          <img class="img-fluid w-50" src="./assets/images/logos/endgame_login.png" alt="">
        </div>

        <div class="mt-5">
          <h1 style="color:#fff">Sistema ERP</h1>
        </div>

        <div class="m-auto mt-5 w-75">
          <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="txtUsername-portrait" placeholder="Nombre de usuario">
              <label for="txtUsername-portrait">Nombre de usuario</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="txtPassword-portrait" placeholder="Contraseña">
              <label for="txtPassword">Contraseña</label>
            </div>

            <button type="submit" class="btn btn-secondary w-100">
              INICIAR
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
