<div class="row">
  <div class="col-lg-6">
    <div class="card card-incomes">
      <div class="card-header">
        Venta del día: <span class="fw-bold">{{today.toDateString() | date:'MMM d, y'}}</span>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">

          <!-- INCOMES -->
          <li class="list-group-item d-flex justify-content-between">
            <div class="content-info d-flex justify-content-between">
              <p class="m-0 pt-2">Ingresos brutos:</p>
              <p class="m-0 pt-2 fw-bold">S/. 350</p>
            </div>
            <div class="content-btn">
              <button type="button" class="btn btn-sm btn-secondary pb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
            </div>
          </li>

          <!-- OUTS -->
          <li class="list-group-item d-flex justify-content-between">
            <div class="content-info d-flex justify-content-between">
              <p class="m-0 pt-2">Egresos:</p>
              <p class="m-0 pt-2 fw-bold">S/. 120</p>
            </div>
            <div class="content-btn">
              <button type="button" class="btn btn-sm btn-secondary pb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
            </div>
          </li>

          <!-- INCOMES TOTAL -->
          <li class="list-group-item d-flex justify-content-between">
            <div class="content-info d-flex justify-content-between">
              <p class="m-0 pt-2">Ingresos netos:</p>
              <p class="m-0 pt-2 fw-bold">S/. 230</p>
            </div>
            <div class="content-btn">
              <button type="button" class="btn btn-sm btn-secondary pb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card card-details-outs">
      <div class="card-header">
        Detalle de egresos
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur culpa cupiditate dolores doloribus eius iusto, labore maxime necessitatibus nisi praesentium quas quasi quod rerum saepe sapiente tempora! Atque, quisquam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus esse iusto natus praesentium provident. Autem dolore dolorem dolores dolorum est harum ipsam magnam molestiae quibusdam recusandae rem tempora, velit veniam?</p>
      </div>
    </div>
    <div class="card mt-3 card-attached">
      <div class="card-header">
        Documentos adjuntos
      </div>
      <div class="card-body">
        <div class="alert alert-success" role="alert">
          No hay documentos adjuntos.
        </div>
      </div>
    </div>
  </div>
</div>
